@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter";
}

#playerchoice, #enemychoice {
    font-size: 4rem;
}

#submit:hover {
    background-color: #6b6a6c;
}

#rock:hover, #paper:hover, #scissors:hover {
    background-color: #b6b6b6;
}

#vs{
    margin-left: 35vh;
    margin-right: 35vh;
}